
    <section id="home" class="vh-100 d-flex flex-column justify-content-center text-center container" style="margin-top: 30px;">
      <div class="hero-visual mb-4">
        <div class="hero-glass">
    <img
      src="profile.jpg"
      alt="Profile"
      class="hero-image"
      loading="lazy"
    />
      </div>
  </div>
  <h1 class="display-3 fw-bold gradient-text">Full Stack Web Developer.</h1>
  <p class="lead mt-3">Innovative and results-driven engineer with hands-on experience in designing, developing, enhancing, and
supporting applications that streamline and optimize daily business operations. Seeking a challenging role
at a forward-thinking organization that values continuous learning, innovation, and skill development.
</p>
  <div class="d-flex justify-content-center gap-3 mt-4">
    <!-- <button class="btn glass glow px-4">View Work</button> -->
    <!-- <button class="btn btn-outline-light px-4" (click)=goToContact()>Contact</button> -->
    <button class="btn btn-outline-light px-4" (click)="downloadResume()">Download Resume ↓</button>
  </div>
</section>
